:root {
    --text-color-primry: #fff
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.house-details {
    padding: 0 12%;
}

.house-title  {
    margin-top: 50px;
}

.house-title h1 {
    font-weight: 400;
}

.house-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.house-title span {
    margin: 0 20px;
}

.house-title i {
    color: #ff5361;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
}

.gallery div img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.gallery-img-1 {
    grid-area:  first;
}

.small-details h2 {
    font-weight: 400;
}

.small-details h4 {
    font-size: 22px;
    text-align: right;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}

.check-form {
    margin: 30px 0;
    background-color: var(--text-color-primry);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}

.check-form label {
    display: block;
}

.check-form div {
    padding: 20px;
}

.check-form input {
    background: transparent;
    border: 0;
    outline: none;
}

.check-form button {
    background: #ff5361;
    border: 0;
    outline: none;
    color: var(--text-color-primry);
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}

.guest-field {
    flex: 1;
}

.details-list {
    list-style: none;
    margin: 50px 0;
}

.details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i {
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc {
    max-width: 700px;
    margin-bottom: 50px;
}

.map {
    margin: 50px 0;
}

.map iframe {
    width: 100%;
    margin-bottom: 30px;
}

.map h3 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}

.map b {
    display: block;
    margin-bottom: 16px;
}

.host {
    display: flex;
    align-items: center;
}

.host img {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host  h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

.host i {
    color: #ff5361;
}

.contact-host {
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}

/***********for small screen for house details page***********/

@media only screen and (max-width: 700px) {
    .house-details {
        margin-top: 150px;
    }
    .row {
        margin-top: 10px;
    }
    .gallery {
        grid-template-areas: 'first first' '. .' '. .';
    }
    .small-details {
        font-size: 20px;
        margin-top: 24px;
    }
    .small-details h4 {
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form {
        padding: 10px 30px;
    }
    .check-form div {
        padding: 20px 0;
        width: 100%;
    }
    .check-form input {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }
    .check-form button {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .host {
        display: block;
        line-height: 28px;
    }

    .contact-host {
        margin: 40px 0;
    }
}

